<div class="container">
    <h1>Search for Users:</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <input type="text" id="user" class="form-control" value="User Name" ng-model="vm.user.firstName"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.searchUser()">Search</button>
        </div>
    </form>





    //actually works
    <div>
        <h2>{{vm.user.username}}</h2>








    </div>
</div>
</div>